<!DOCTYPE html>
<html>

<head>
    <title>Woman safety</title>
    <link rel="stylesheet" href="style.css" />
    <href="https://fonts.googleapis.com/css?family=Montserrat"> <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav">
                <ul>
                    <li>HOME</li>
                    <li>ABOUT US</li>
                    <li>SELF DEFENCE</li>
                    <li>FEMALE DRIVERS</li>
                    <li>NGOs</li>
                    <li class="alert"><a>ALERT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class='ngo'>
        <section id='services'>
            <h1>Our Services</h1>
            <div>
                <h3 class='text-center'>We help girls all around India to obtain the quality education they deserve and
                    also lend a helping
                    hand to all those in need</h3>
                <h3 class='text-center'>Locate your nearest ngo from the map</h3>

            </div>
    </div>
    </div>
    </section>
    <div class="map-container2">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0987211771103!2d74.87307831448321!3d12.901373219906933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba359f81a0744bd%3A0xfeef55fa11a155b0!2sWorld%20Konkani%20Centre!5e0!3m2!1sen!2sin!4v1604828294473!5m2!1sen!2sin"
            width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>


    </div>
    </div>
</body>

</html>