body {
    margin: 0;
    font-family: sans-serif;
    background: #eeeeee;
    font-size: 18px;
}

.nav-bar {
    width: 100%;
    height: 15%;
    background: #252222;
}

.nav-bar ul {
    display: inline-flex;
    margin: 10;
}

.nav-bar ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    text-align: center;
    height: 70vh;
}

.container h1 {
    margin: 1em 0;
    margin-top: 2rem;
    margin-left: 5rem;
}

.container .left {
    background: linear-gradient(to bottom, #003366 0%, #006666 100%) !important;
    padding: 1em;
}

.container h1,
p {
    color: white;
    margin-left: 6rem;
}

.container h2 {
    color: white;
    margin-left: 6rem;
    margin-top: auto;
    display: block;
}

.container .light {
    color: rgba(255, 255, 255, .7) !important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 6rem;
}

.txt-left {
    display: grid;
    grid-template-columns: 55% auto;

}

.txt-left .left {
    text-align: left;
    padding: 0 1em;
    display: grid;
}

.txt-left .content {
    padding: 0 1em;
}

.bord {
    position: absolute;
    top: 25%;
    height: 100%;
    z-index: 0;
    width: 100%;
}

.bord .i-bord {
    border: 3px solid rgba(255, 255, 255, .1);
    width: 59%;
    height: 50%;
    float: left;
    margin-left: 1em;
    transform: translate(10%);
}

.right img {
    width: 100%;
    height: fit-content;
}

.map-container {
    width: 100%;
    margin: 50px;
    margin-left: 0;
    height: fit-content;
}


/*Driver details*/

.driver-container {
    margin-top: 1200px;
    width: 360px;
    height: 600px;
    background: url(static/drive2.jpeg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.driver-container h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 3em;
}

.tbox {
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    display: block;
    margin: 14px auto;

    font-size: 16px;
    border: none;
}

.tbox input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.tbox textarea {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}


.btn {
    border-radius: 10px;
    background: #006666;
    color: white;
    font-size: 18px;
    padding: 1em;
}

.back {
    background: linear-gradient(to bottom, #006666 0%, #003366 100%) !important;
    height: 220vh;
    width: 100%;
}

.map-container2 {
    margin: 20px;
}

#services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(static/ngo.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1 {
    text-align: center;
}

#services h1::after {
    content: "";
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.text-center {
    display: block;
    padding: 10px;
    margin: 40px;
    margin: auto 30px auto 30px;
}